*{
    margin: 0;
    padding: 0;
}
/**********FONTS*************/
@font-face {
    font-family: 'DolceLight';
    src: url('../font/DolceVitaLight.eot');
    src: url('../font/DolceVitaLight.eot?#iefix') format('embedded-opentype'),
        url('../font/DolceVitaLight.woff2') format('woff2'),
        url('../font/DolceVitaLight.woff') format('woff'),
        url('../font/DolceVitaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce';
    src: url('../font/DolceVita.eot');
    src: url('../font/DolceVita.eot?#iefix') format('embedded-opentype'),
        url('../font/DolceVita.woff2') format('woff2'),
        url('../font/DolceVita.woff') format('woff'),
        url('../font/DolceVita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEO';
    src: url('../font/NEOTERIC-Bold.eot');
    src: url('../font/NEOTERIC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NEOTERIC-Bold.woff2') format('woff2'),
        url('../font/NEOTERIC-Bold.woff') format('woff'),
        url('../font/NEOTERIC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/**********FIN FONTS*************/

/**********HEADER************/
header{
    height: 70px ; /*taille*/ 
    display: flex; /*permet à l'image et la nav d'être côte/côte*/
    justify-content: space-between;/*répartition sur la largeur - gauche et à droite bord à bord*/
}
header img{
    /*border: 2px solid black;*/
    height: 50px;
    margin: 10px;
}
header nav{
    /*width: 80%;
    height: 100%;*/
    display: flex;
    /*justify-content: flex-end; **********Non nécessaire***/
    align-items: end;
    margin-right: 10px;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
header nav ul li{
    display: flex;
    justify-content: flex-end;
}
header nav ul li a{ 
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; /*créer un espace entre les lettres interlettrage*/
    color: black;
    font-family: "NEO";
    font-size: 15px;
    font-weight:lighter;
    height: 30px;
    display: block;
    box-sizing: border-box;
    transition: 0.5s;
}
header nav ul li span{ 
    font-family: "NEO";/**/
    font-size: 15px;/**/
    font-weight:lighter;/**/
    margin: 0 15px;
}
header nav ul li:hover a, .ici{
    border-bottom: 7px solid;
}

/**********************/

section{
    height: calc(100vh - 70px);
    background: url(../img/fond3.jpg) center;
    background-size: cover;
    display: flex; /*Pouvoir utiliser le justify-content*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section h1::first-line{
    font-family: "DolceLight";
}
section h1{
    color: white;
    font-family: "Dolce";
    font-size: 100px;
    text-align: center;
    font-weight: normal;/*desépaisir le font qui est bold car h1*/
}

/***************************************
Les PAGES
***************************************/
section>div{ /*flex pour les 3 div enfants*/
    display: flex;
}
section>div div{
    width  : 200px;
    height : 200px;
    margin: 50px;
    border: 2px solid white;
}
section a{
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 25px;
    color: black;
    background: white;
    font-family: "Dolce";
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
}
section a:hover{
    background: black;
    color:white;
}
/*************Rotations***************/
#rot>div div:first-of-type{
    transform: rotate(45deg);/*Rotation de 45°C*/
}
#rot>div div:nth-of-type(2):hover{
    transform: rotate(45deg);/*Rotation de 45°C*/
}
#rot>div div:nth-of-type(3){
    transition: 0.5s;/* ajoute l'effet sur la rotation en A/R*/
}
#rot>div div:nth-of-type(3):hover{
    transform: rotate(45deg);/*Rotation de 45°C au survol*/
}

/****************/

/*************Zoom***************/
#zoom>div div:first-of-type{
    transform: scale(1.2);/**/
}
#zoom>div div:nth-of-type(2):hover{
    transform: scale(0.8) ;/**/
}
#zoom>div div:nth-of-type(3){
    transition: 0.5s;/* ajoute l'effet sur la rotation en A/R*/
}
#zoom>div div:nth-of-type(3):hover{
    transform: scale(0.3);/**/
}

/****************/

/*************Inclinaison***************/
#incli>div div:first-of-type{
    transform: skewX(15deg)  ;/*skew*/
}
#incli>div div:nth-of-type(2):hover{
    transform: skewY(25deg);/**/
}
#incli>div div:nth-of-type(3){
    transition: 0.5s;/* ajoute l'effet sur la rotation en A/R*/
}
#incli>div div:nth-of-type(3):hover{
    transform: skewX(25deg) ;/**/
}

/****************/

/*************Déplacement***************/
#dep>div div:first-of-type{
    transform: translate(30px,45px) ;/**/
}
dep>div div:nth-of-type(2):hover{
    transform: translateX(55px);/**/
}
#dep>div div:nth-of-type(3){
    transition: 0.5s;/* ajoute l'effet sur la rotation en A/R*/
}
#dep>div div:nth-of-type(3):hover{
    transform: translateY(15px);/**/
}

/****************/

/*************Déplacement***************/
#ori>div div:first-of-type{
    transform-origin: bottom right;/**/
    transform: rotate(45deg);
}
#ori>div div:nth-of-type(2){
    transform-origin: bottom left;/**/
}
#ori>div div:nth-of-type(2):hover{
    transform: rotate(45deg);
}
#ori>div div:nth-of-type(3){
    transform-origin: 0 0;/**/
    transition: 0.5s;/* ajoute l'effet sur la rotation en A/R*/
}
#ori>div div:nth-of-type(3):hover{
    transform: rotate(45deg);
}


/****************/
